.inicioSesion{
    color: black;
}

.contacto{
    color: black;
}


a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}

table{
    width: 100%;
}

.iconoHeader{
    width: 20%;
}

header {
    background-color: rgb(6, 68, 109);
    padding: 2px;
    
}

img{
    width: 80%;
}

td{
    width: 50px;
}