<header>
    <table>
        <tr>
            <td>
             <img class="iconoHeader" src="/imagenes/logo.png" alt="">
             <h1>Tavo Sneackers</h1>
            </td> 
            <td>
                <a class="inicioSesion" ><i class="fa-solid fa-user"></i> Iniciar Sesion</a>
                <!-- &nbsp; -->
                 <br>
                <a class="contacto" href="https://api.whatsapp.com/send?phone=528677520375" target="_blank"> <i class="fa-solid fa-circle-info"></i> Contacto</a>
            </td>
        </tr>
    </table>
</header>