.logo{
    height: 50px;
    margin-right: 16px;
}

.espacio{
    flex: 1 1 auto;
}

.fraseContenedor{
    width: 100px;
    height: auto;
    padding: 5px;
    word-wrap: break-word; 
    font-family: Promt;
    font-size: 10px;
    color: whitesmoke;
    
}

a{
    color: #ffcc00 !important;
    font-family: Bungee;
    font-size: 8px;
}



.contacto {
    margin-right: 15px; 
}

header {
    background-color: #1a0032;
    padding: 2px;
    
}
