<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h4>Contacto</h4>
        <p>Correo: galonso004&#64;outlook.com</p>
        <p>Teléfono: +52 867 752 0375</p>
      </div>
      <div class="footer-section">
        <h4 class="tituloFooter">Sígueme!</h4>
        <a href="https://www.facebook.com/profile.php?id=100013150781116&mibextid=ZbWKwL">
            <i class="fa-brands fa-facebook"></i> Facebook
        </a>
        <br>
        <a href="https://www.instagram.com/alonso_gtz04/profilecard/?igsh=MTViajdoOTQzaWY5aw==">
            <i class="fa-brands fa-instagram"></i> Instagram
        </a>
        <br>
        <a href="https://github.com/GustavoAG7201">
            <i class="fa-brands fa-github"></i> GitHub
        </a>
        <br>
        <a href="https://www.tiktok.com/@gustavoag07?_t=8rCVl0nK51s&_r=1">
            <i class="fa-brands fa-tiktok"></i> TikTok
        </a>
        
      </div>
      <div class="footer-section">
        <p>&copy; 2024 Tavo Sneakers.</p>
        <p>Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
  