a{
    text-decoration: none;
    font-family: Bungee;
    font-size: 8px;
    color: black;
    
}

a:hover{
    color: whitesmoke;
}

table{
    width: 100%;
}

nav{
    /* background: linear-gradient(135deg, #1E3A8A, #FFF7C2); */
    background: linear-gradient(135deg, #FBBF24, #6D28D9);

    padding-top: 5px;
}
 
td{
    text-align: center;
}