<nav>
    <table>
        <tr>
            <td>
                <a [routerLink]="['inicio']">
                    <i class="fa-solid fa-house fa-2x"></i>   
                    <br>
                    Inicio
                </a>
            </td> 
            <td>
                <a [routerLink]="['productos']">
                    <i class="fa-solid fa-shoe-prints fa-2x"></i>
                    <br>   
                    Productos
                </a>
            </td>           
            <td>
                <a [routerLink]="['promociones']">
                    <i class="fa-solid fa-tag fa-2x"></i>
                    <br>
                    Promociones
                </a>
            </td> 
            <td>
                <a [routerLink]="['favoritos']">
                    <i class="fa-solid fa-star fa-2x"></i>
                    <br>
                    Favoritos
                </a>
            </td> 
            <td>
                <a [routerLink]="['compras']">
                    <i class="fa-solid fa-cart-shopping fa-2x"></i>
                    <br>
                    Compras
                </a>
            </td> 
        </tr>
    </table>
</nav>