<div class="favorites-section">
  <!-- Tarjeta para el texto introductorio -->
  <div class="intro-card">
    <h2>{{ introduccion.titulo }}</h2>
    <p>{{ introduccion.descripcion }}</p>
  </div>

  <!-- Contenedor de las tarjetas de favoritos -->
  <div class="product-container">
    <!-- Tarjetas de productos -->
    <div class="product-card" *ngFor="let favorito of favoritos">
      <div class="product-image">
        <img [src]="favorito.imagen" [alt]="favorito.nombre">
      </div>
      <div class="product-info">
        <p>{{ favorito.nombre }}</p>
        <p>{{ favorito.descripcion }}</p>
        <span>{{ favorito.precio }}</span>
        <p>{{ favorito.tallas }}</p>
        <button class="buy-button">
          <i class="fa-solid fa-cart-shopping"></i> Agregar
        </button>
      </div>
    </div>
  </div>
</div>
