/* Contenedor principal de la sección de favoritos */
.favorites-section {
    padding: 30px;
    background-color: #f5f5f5;
    text-align: center;
  }
  
/* Tarjeta para el texto introductorio */
.intro-card {
  background-color: #1a0032; /* Mismo color de fondo que las tarjetas de productos */
  color: white;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  max-width: 800px; /* Limitar el tamaño máximo de la tarjeta introductoria */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle efecto de profundidad */
}

.intro-card h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  color: #ffcc00; /* Color llamativo para el título */
  margin-bottom: 10px;
}

.intro-card p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #d3d3d3; /* Color gris claro para un contraste sutil */
  line-height: 1.6;
  margin: 0 auto;
}

  
  /* Contenedor de las tarjetas */
  .product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* Estilo de cada tarjeta */
  .product-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #1a0032;
    border-radius: 8px;
    overflow: hidden;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  /* Imagen del producto dentro de la tarjeta */
  .product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /* Información del producto dentro de la tarjeta */
  .product-info {
    padding: 15px;
    text-align: center;
  }
  
  .product-info p {
    margin: 10px 0;
  }
  
  .product-info span {
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: orange;
    color: black;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Botón de compra */
  .buy-button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #ff6600;
    color: #1a0032;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  .buy-button:hover {
    background-color: #e44d26; /* Rojo oscuro */
  }
  