<section class="promotions">
    <div class="promotion-card">
      <img src="/imagenes/producto8.png" alt="Converse Chuck Taylor 70's" class="product-image">
      <div class="promotion-details">
        <h3 class="product-name">Converse Chuck Taylor 70's</h3>
        <p class="discount">40% de descuento</p>
        <p class="original-price"><span class="strike">150 MXN</span> 90 MXN</p>
      </div>
    </div>
    
    <div class="promotion-card">
      <img src="/imagenes/producto9.png" alt="Adidas Ultraboost" class="product-image">
      <div class="promotion-details">
        <h3 class="product-name">VANS Old Skool</h3>
        <p class="discount">30% de descuento</p>
        <p class="original-price"><span class="strike">180 MXN</span> 126 MXN</p>
      </div>
    </div>
    
    <div class="promotion-card">
      <img src="/imagenes/producto10.png" alt="Nike Air Force Blue" class="product-image">
      <div class="promotion-details">
        <h3 class="product-name">Nike Air Force Blue</h3>
        <p class="discount">25% de descuento</p>
          <p class="original-price"><span class="strike">120 MXN</span> 90 MXN</p>
      </div>
    </div>


    <div class="promotion-card">
      <img src="/imagenes/producto7.png" alt="Converse Chuck Taylor 90's" class="product-image">
      <div class="promotion-details">
        <h3 class="product-name">Converse Chuck Taylor 90's Green</h3>
        <p class="discount">50% de descuento</p>
          <p class="original-price"><span class="strike">120 MXN</span> 90 MXN</p>
      </div>
    </div>
    
  </section>
  
