table{
    width: 100%;
}

.izquierda{
    width: 40%;
    text-align: center;
}

.derecha{
    width: 60%;
    background-color: #1a0032;
    color: white;
    text-align: center;
    font-size: small;
}

img{
    width: 40%;
}