<div>
    <table>
        <!--! Producto 1 -->
        <tr *ngFor="let producto of productos">
            <td class="izquierda">
                <!-- imagen0 -->
                 <img [src]="producto.imagen">
            </td>
            <td class="derecha">
                <!-- informacion -->
                 <p>{{producto.descripcion}}</p>
                 <span>{{producto.precio}}</span>
            </td>
        </tr>
        <!--! Producto 2 -->
        <tr>
            <td class="izquierda">
                <!-- imagen0 -->
            </td>
            <td class="derecha">
                <!-- informacion -->
            </td>
        </tr>
        <!--! Producto 3 -->
        <tr>
            <td class="izquierda">
                <!-- imagen0 -->
            </td>
            <td class="derecha">
                <!-- informacion -->
            </td>
        </tr>
        <!--! Producto 4 -->
        <tr>
            <td class="izquierda">
                <!-- imagen0 -->
            </td>
            <td class="derecha">
                <!-- informacion -->
            </td>
        </tr>
        <!--! Producto 5 -->
        <tr>
            <td class="izquierda">
                <!-- imagen0 -->
            </td>
            <td class="derecha">
                <!-- informacion -->
            </td>
        </tr>
        <!--! Producto 6 -->
        <tr>
            <td class="izquierda">
                <!-- imagen0 -->
            </td>
            <td class="derecha">
                <!-- informacion -->
            </td>
        </tr>
        <!--! Producto 8 -->
        <tr>
            <td class="izquierda">
                <!-- imagen0 -->
            </td>
            <td class="derecha">
                <!-- informacion -->
            </td>
        </tr>
        <!--! Producto 9 -->
        <tr>
            <td class="izquierda">
                <!-- imagen0 -->
            </td>
            <td class="derecha">
                <!-- informacion -->
            </td>
        </tr>
        <!--! Producto 10 -->
        <tr>
            <td class="izquierda">
                <!-- imagen0 -->
            </td>
            <td class="derecha">
                <!-- informacion -->
            </td>
        </tr>
    </table>
</div>
