table{
    width: 100%;
}

.izquierda{
    width: 40%;
    text-align: center;
}

.derecha{
    width: 60%;
    background-color: #1a0032;
    color: white;
    text-align: center;
    font-size: small;
    text-align: justify ;
    /* remarca los bordes de la tabla para que se separen por producto */
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p{
    padding: 2%;
    font-family: Promt;

    border-radius: 5%;
    color: white;
}

span{
    padding: 2%;
    font-family: Promt;
    background-color: orange;
    border-radius: 5px;
    color: black;
}