/* img{
    size: 0.1%;
} */

.carruselInicio{
    width: 100%;
}

.listaDinamica1{
    /* otro estilo le esta haciendo conflicto */
    width: 100%;
    /* height: 50px; */
    min-height: 50px;
    margin: 5px;
    padding: 10px;
    padding-top: 1px;
    background-color: #1a0032;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.listaDinamica1 h5 {
    font-family: Bungee;
    color: #ffcc00;
    text-align: center;
    
}

.articListaDinamica{
    width: 90%;
    /* height: 50px; */
    min-height: 50px;
    margin: 5px;
    padding: 10px;
    padding-top: 1px;   
    /* background-color: #1a0032; */
    background-color: #E6D7   ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    align-items: center;
}

.articListaDinamica p{
    font-family: Bungee;
    color: #ffcc00;
    text-align: center;
}

/* section{
   ! margin-bottom: 50px;  No jalo
} */

