<section class="main-container">
    <!-- Carrusel de inicio -->
    <section class="carruselInicio">
        <owl-carousel-o [options]="{ items: 1, nav: false, dots: true }">
            <ng-container *ngFor="let imagen of imagenes">
                <ng-template carouselSlide>
                    <img [src]="imagen" alt="imagen">
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </section>
    
    <!-- Lista dinámica/LO MÁS NUEVO -->
    <section>
        <div class="listaDinamica1">
            <h5>Lo más nuevo</h5>
            <owl-carousel-o [options]="{ items: 2, dots: false, margin: 10, loop: true, stagePadding: 25 }">
                <ng-container *ngFor="let imagen2 of imagenes2">
                    <ng-template carouselSlide>
                        <img [src]="imagen2.url" alt="imagen">
                        <button class="buy-button">
                            <i class="fa-solid fa-cart-shopping"></i> {{ imagen2.texto }}
                        </button>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </section>
    
    <!-- Carrusel con lo más vendido -->
    <br>
    <section>
        <div class="listaDinamica1">
            <h5>Lo más vendido</h5>
            <owl-carousel-o [options]="{ items: 2, dots: false, margin: 10, loop: true, stagePadding: 25 }">
                <ng-container *ngFor="let imagen3 of imagenes3">
                    <ng-template carouselSlide>
                        <img [src]="imagen3.url" alt="imagen">
                        <button class="buy-button">
                            <i class="fa-solid fa-cart-shopping"></i> {{ imagen3.texto }}
                        </button>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </section>
</section>