 img{
    max-inline-size: 100%;
    block-size: auto;
} 


.listaDinamica1{
    margin: 5px;
    padding: 10px;
    padding-top: 1px;
    background-color: #1a0032;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.listaDinamica1 img{
    border-radius: 10%;
}

.listaDinamica1 h5 {
    font-family: Bungee;
    color: #ffcc00;
    text-align: center;
    
}

.articListaDinamica{
    margin: 5px;
    padding: 10px;
    padding-top: 1px;   
    /* background-color: #1a0032; */
    background-color: #E6D7   ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    align-items: center;
}

.articListaDinamica p{
    font-family: Bungee;
    color: #ffcc00;
    text-align: center;
   
}

